* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

main,
.imgGallery {
  padding: 0 10vw;
}

.active {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1vh 0;
}

.dark {
  background-color: rgb(41, 34, 34);
  color: white;

  .active {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }

  header {
    svg {
      g {
        path {
          fill: white;
        }
      }
    }
  }
  .navWrapper {
    nav {
      a {
        color: white;
      }
    }
  }
}

.loading {
  text-align: center;
  margin-top: 20vh;
  h1 {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: lightgreen;
  }
}

.imgGallery {
  h1 {
    text-transform: uppercase;
    color: #bdbdbd;
    font-size: 5rem;
    font-weight: lighter;
  }
  h2 {
    font-size: 5rem;
    margin-bottom: 5vh;
  }
  .images {
    border-top: 1px solid #f2f2f2;
    padding-top: 2vh;
    display: grid;
    margin-bottom: 10vh;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    div {
      &:nth-of-type(1) {
        background: url("./assets/img/g1.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(2) {
        background: url("./assets/img/g2.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(3) {
        background: url("./assets/img/g3.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(4) {
        background: url("./assets/img/g4.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(5) {
        background: url("./assets/img/g5.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(6) {
        background: url("./assets/img/g6.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(7) {
        background: url("./assets/img/g7.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(8) {
        background: url("./assets/img/g8.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(9) {
        background: url("./assets/img/g9.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
      &:nth-of-type(10) {
        background: url("./assets/img/g3.jpeg") no-repeat center;
        background-size: cover;
        height: 50vh;
      }
    }
  }
}
